.chef_list_chek_btn{
	margin-top: 20px;
	margin: auto;
}
.ac_btn{
	width: 40px;
	padding: auto;
}
.chef_list_img{
	width: 120px;
}
.th_border{
border-bottom: 1px solid black;
}
.font-17{
font-size: 17px;
}
.nav_text{
font-weight: 600;
color: hsl(0, 0%, 69%);
}
.selected_nav{
color: #355752;
}
.section{
padding-top: 150px;
}
.border_bottom{
border-bottom: 2px solid black;
}
.text-ag{
	text-align: center;
}